<h1>New Chat message</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.chat_message_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.chat_message_path(@conn, :index) %></span>
