<h1>New Chat room  messages</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.chat_room__messages_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.chat_room__messages_path(@conn, :index) %></span>
